<div  class="page-wrapper">
<div class="cart-box">
  <!-- Header and Location -->
  <div class="cart-header">
    <h2>My cart ({{ cartItems.length }})</h2>
    <div class="location">
      <mat-icon>location_on</mat-icon>
      <span>Use current location</span>
    </div>
  </div>

  <!-- All items listed inside a single box -->
  <div *ngFor="let item of cartItems" class="item-row">
    <div class="left-section">
      <img [src]="item.book?.bookImage || 'assets/default-book.png'" class="book-image" alt="Book" />
    </div>
    <div class="middle-section">
      <h3>{{ item.book?.bookName }}</h3>
      <p>by {{ item.book?.author }}</p>
      <p>
        <span class="price-discount">Rs. {{ item.book?.discountPrice }}</span>
        <span class="price-original">Rs. {{ item.book?.price }}</span>
      </p>

      <div class="quantity-section">
        <button (click)="decreaseQuantity(item)">-</button>
        <input type="number" [(ngModel)]="item.bookQuantity" />
        <button (click)="increaseQuantity(item)">+</button>
      </div>

          <div class="action-buttons">
            <button class="remove-button" (click)="removeItemFromCart(item)">Remove</button>
            
          </div>

           
    </div>
  </div>

   <div class="place-order-container">
  <button class="primary-btn" (click)="placeOrder()">Place Order</button>
</div>

  
</div>

  <div *ngIf="showCustomerDetails" class="customer-form-section">
    <h2>Customer Details</h2>

    <form>
  <input type="text" placeholder="Full Name" [(ngModel)]="customer.fullName" name="fullName" />
  <input type="text" placeholder="Phone Number" [(ngModel)]="customer.phoneNumber" name="phoneNumber" /> 
  <textarea placeholder="Address" [(ngModel)]="customer.address" name="address"></textarea>
  <input type="text" placeholder="City" [(ngModel)]="customer.city" name="city" />
  <input type="text" placeholder="State" [(ngModel)]="customer.state" name="state" />
</form>

      <div class="place-order-container"> <button class="primary-btn" (click)="continueToOrderSummary()">Continue</button></div>
   
  </div>


  <!-- Order Summary -->
<div *ngIf="showOrderSummary" class="order-summary-section">
  <h2>Order Summary</h2>

  <div *ngFor="let item of cartItems" class="order-item">
    <div class="left-section">
      <img [src]="item.book?.bookImage || 'assets/default-book.png'" class="book-image" alt="Book" />
    </div>
    <div class="order-book-details">
      <strong>{{ item.book?.bookName }}</strong> by {{ item.book?.author }}<br />
      Quantity: {{ item.bookQuantity }} <br />
      Price: Rs. {{ item.book?.discountPrice }} × {{ item.bookQuantity }} = 
      <strong>Rs. {{ item.bookQuantity * (item.book?.discountPrice || 0) }}</strong>
    </div>
  </div>

  

  <div class="place-order-container"><button class="primary-btn" (click)="onCheckout()">Checkout</button></div>
  
</div>

<router-outlet></router-outlet>
</div>
