<header class="navbar">
  <div class="navbar-section logo-section">
      <mat-icon aria-label="Menu">menu_book</mat-icon>
      <span class="logo-text">Bookstore</span>
  </div>

  <div class="navbar-section search-section">
      <input type="text" placeholder="Search ..." aria-label="Search" />
  </div>

  <div class="navbar-section nav-icons">
      <div class="nav-item">
          <mat-icon aria-label="Profile">person</mat-icon>
          <span>Profile</span>
      </div>
      <div class="nav-item">
          <mat-icon aria-label="Cart">shopping_cart</mat-icon>
          <span>Cart</span>
      </div>
  </div>
</header>


<app-book></app-book>

<footer class="footer">
  <p>Copyright © 2020, Bookstore Private Limited. All Rights Reserved</p>
</footer>
