<header class="navbar">
  <div class="navbar-section logo-section">
    <mat-icon aria-label="Menu">menu_book</mat-icon>
    <a routerLink="/dashboard" class="logo-link">
      <span class="logo-text">Bookstore</span>
    </a>
  </div>

  <div class="navbar-section search-section">
    <input type="text" placeholder="Search " (input)="onSearchChange($event)" />
  </div>

  <div class="navbar-section nav-icons">
    <div class="nav-item user-dropdown" (click)="toggleDropdown()">
      <mat-icon aria-label="Profile">person</mat-icon>
      <span>{{ username }}</span>

      <div *ngIf="dropdownOpen" class="dropdown-menu">
        <p>Hello {{ username }},</p>
        <ul>
          
          <li>
         <a routerLink="/dashboard/order-details" (click)="toggleDropdown()">

            <mat-icon>assignment</mat-icon> My Orders
          </a>
        </li>

                <li>
          <a routerLink="/dashboard/wishlist" (click)="toggleDropdown()">
            <mat-icon>favorite_border</mat-icon> My Wishlist
          </a>
        </li>
         
        </ul>
        <button (click)="logout()">Logout</button>
      </div>
    </div>

    <a routerLink="/dashboard/cart" class="nav-item">
      <mat-icon aria-label="Cart">shopping_cart</mat-icon>
      <span>Cart</span>
    </a>
  </div>
</header>

<div class="main-content">
  <router-outlet></router-outlet>
</div>



<footer class="footer">
  <p>Copyright © 2020, Bookstore Private Limited. All Rights Reserved</p>
</footer>
